<nav>
<div class="site-title">
    <a href="/">
        <h1>Dynamic Form Creator</h1>
    </a>
    <p>Create Your Forms</p>
</div>
<ul>
    <li><a href="/">Forms</a></li>
    <li><a href="/create">Create Forms</a></li>
</ul>
</nav>